/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';

.primary-color {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.nav-items:hover {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.input-width-400 {
    width: 400px !important;
}